:root {
    --green-color: rgb(1, 203, 153);
    --darker-green: rgb(60, 167, 145);
    --orange-color: rgb(239, 120, 55);
    --dark-color: rgb(41, 41, 41);
    --gray-color: rgb(242, 242, 242);
}

/* ------------------------------- DEFAULT STYLES ------------------------------- */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--dark-color);
    padding: 10px;
}

ul {
    color: white;
}

li {
    list-style-type: none;
    margin: 0 5px;
}

li > a {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}


/* ------------------------------- UTILITY CLASSES ------------------------------- */
.align-row {
    display: flex;
}

.aling-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.space-between-elements-X {
    justify-content: space-between;
}

.green-letter {
    color: var(--green-color);
}

.underline-text {
    text-decoration: underline;
}


/* ------------------------------- PAGE STYLES ------------------------------- */
/* hedaer style */
.logo {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* main uppder section style */
.main-upper-section {
    background-color: var(--green-color);
    border: 2px var(--darker-green) solid;
    padding: 20px 0;
}

.profile-picture-contianer {
    position: relative;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px white solid;
}

.profile-name {
    font-size: 18px;
}

.score {
    position: absolute;
    /* 50% from the hight point of "profile-picture-contianer" minus half of "score" height*/
    top: calc(50% - 40px);
    left: calc(50% + 40px);

    background-color: var(--orange-color);
    color: white;
    border-radius: 50%;
    border: 1px white solid;
    font-weight: 700;

    width: 80px;
    height: 80px;
}

.number {
    font-size: 26px;
}

.word {
    text-transform: uppercase;
    font-size: 12px;
}

.profile-name {
    color: white;
    margin: 5px 0;
}

.link-to-personal-website {
    font-weight: 400;
}


/* main lower section styles */
.main-lower-section {
    max-width: 90%;
    margin: auto;
    padding: 20px 0;
}

.container-first-part-of-letter {
    width: 100%;
}

.introduction {
    /* I made the span a "block" from "in line" so I can sue margin */
    display: block;
    font-size: 20px;
    margin: 20px 0;
}

.accept-invitation-btn {
    background-color: var(--green-color);
    border: 2px var(--darker-green) solid;
    color: white;

    padding: 10px 20px;
    margin: 20px;

    font-size: 16px;
    border-radius: 3px;
}

.accept-invitation-btn:hover {
    cursor: pointer;
}

.accept-invitation-btn:active {
    opacity: 0.8;
}

.enjoy {
    display: block;
    margin: 10px 0;
}

/* footer styles */
.upper-footer-section {
    background-color: var(--dark-color);
    color: white;
    padding: 10px;
}

.lower-footer-section {
    padding: 10px ;
    background-color: var(--gray-color);
    font-size: 14px;
    opacity: 0.9;
}

.copyrights {
    margin-top: 10px;
    opacity: 0.7;
}



/* ------------------------------- RESPONSIVENES PART ------------------------------- */
@media only screen and (min-width: 820px) {
    .upper-footer-section {
        display: flex;
        justify-content: space-between;
        padding: 20px ;
    }
}

@media only screen and (min-width: 900px) {
    body {
        background-color: var(--gray-color);
    }

    li {
        font-size: 22px;
        margin: 0 10px;
    }

    li:last-child {
        margin-right: 0;
    }

    .container {
        width: 900px;
        margin: auto;
    }

    .logo {
        font-size: 24px;
    }

    .profile-picture {
        height: 200px;
        width: 200px;
    }

    .score {
        position: absolute;
        top: calc(50% - 40px);
        left: calc(50% + 40px);
       
        width: 100px;
        height: 100px;
    }

    .number {
        font-size: 32px;
    }

    .word {
        font-size: 14px;
    }

    .profile-name {
        font-size: 22px;
    }
}